.form-column {
  display: flex;
  flex-direction: column;
  width: 300px; /* Adjust width as needed */
}

.form-column input {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  background-color: rgb(21, 7, 146);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(2, 92, 148);
}

.cancel-button {
  padding: 10px;
  cursor: pointer;
}
